<div class="container align-content-center">
    <div class="row">
        <div class="col-2">
            <button @click="goToHome">Go to Home</button>
        </div>
        <div class="col-6"></div>
        <div class="col-2">
            <button @click="logout">Logout</button>
        </div>
    </div>
    
    <ul>
        <li v-for="(item, index) in page.imageList" :key="index">
            {{ item.imageName }}
        </li>
    </ul>

    <div>
        Update Company Profile:
        <div class="form-row mb-2">
            <div class="col-sm-2">
                <label for="companyname">Company Name:</label>
            </div>
            <input id="companyname" type="text" name="companyname" v-model="page.partner.partnerName" placeholder="Company's Name" required>
        </div>
        <div class="form-row mb-2">
            <div class="col-sm-2">
                <label for="companyaddress">Company Address:</label>
            </div>
            <input id="companyaddress" type="text" name="companyaddress" v-model="page.partner.partnerName" placeholder="Company's Address" required>
        </div>
        <div class="form-row mb-2">
            <div class="col-sm-2">
                <label for="companyphone">Company Phone:</label>
            </div>
            <input id="companyphone" type="text" name="companyphone" v-model="page.partner.partnerName" placeholder="Company's Phone" required>
        </div>
        <div class="form-row mb-2">
            <div class="col-sm-2">
                <label for="companymail">Company Mail:</label>
            </div>
            <input id="companymail" type="text" name="companymail" v-model="page.partner.partnerName" placeholder="Company's Mail" required>
        </div>
        <div class="form-row mb-2">
            <div class="col-sm-2">
                <label for="companytagline">Company Tagline:</label>
            </div>
            <input id="companytagline" type="text" name="companytagline" v-model="page.partner.partnerName" placeholder="Company's Tagline" required>
        </div>
    </div>

    <div class="mb-2">
        Change Logo:
        <div>
            <input id="logo" type="file" ref="fileInput" @change="handleLogoUpload" accept="image/*">
            <button @click="uploadLogo">Upload Image</button>
        </div>
    </div>
    <div class="mb-2">
        Upload Background Cover:
        <div>
            <input id="background" type="file" ref="fileInput" @change="handleBackgroundUpload" accept="image/*">
            <button @click="uploadBackgroundImage">Upload Image</button>
        </div>
    </div>

    <div class="container mt-3" style="background-color:darkgoldenrod">

        Select Background Cover:
        <div class="row">
            <div class="col-sm-6 image-box" v-for="(image, index) in page.imageList" :key="index">
                <img :src="image.imageLocation" alt="Gallery Image" style="width: 200px; height: 200px; object-fit: cover; margin: 5px;">
                <button class="btn btn-danger" @click="deleteBackgroundImage(index)">Delete Image</button>
                <button class="btn btn-success" @click="handleSelect(index)">Select Background</button>
            </div>

        </div>

    </div>

    <div class="mt-2 mb-2">
        New Partners Profile Entry:
        <div>
            <div class="form-row mb-2">
                <div class="col-sm-2">
                    <label for="companyname">Upload Partners Logo:</label>
                </div>
                <input id="partnerimage" type="file" ref="fileInput" @change="handlePartnerImageUpload" accept="image/*">
            </div>
            <div class="form-row mb-2">
                <div class="col-sm-2">
                    <label for="partnername">Partner Name:</label>
                </div>
                <input id="partnername" type="text" name="partnername" v-model="page.partner.partnerName" placeholder="Partner's Name" required>
            </div>
            <div class="form-row mb-2">
                <div class="col-sm-2">
                    <label for="partneremail">Partner's Email:</label>
                </div>
                <input id="partneremail" type="email" name="partneremail" v-model="page.partner.partnerEmail" placeholder="Partner's Email">
            </div>
            <div class="form-row mb-2">
                <div class="col-sm-2">
                    <label for="partnerphone">Partner's Phone:</label>
                </div>
                <input id="partnerphone" type="text" name="partnerphone" v-model="page.partner.partnerPhone" placeholder="Partner's Phone">
            </div>
            <div class="form-row mb-2">
                <div class="col-sm-2">
                    <label for="partnerdescription">Partner's Description:</label>
                </div>
                <textarea id="partnerdescription" type="text" name="partnerdescription" v-model="page.partner.partnerDescription" placeholder="Partner's Description" required></textarea>
            </div>
            <div class="form-row mb-2">
                <div class="col-sm-2">
                    <label for="partnerwebsite">Partner's Website:</label>
                </div>
                <input id="partnerwebsite" type="text" name="partnerwebsite" v-model="page.partner.partnerWebsite" placeholder="Partner's Website" required>
            </div>

            <button @click="uploadPartnerInfo">Save Info</button>
        </div>
        Manage partner info:
        <div class="row">
            <div v-for="(partner, index) in page.partnerInfo" :key="partner.partnerId" class="image-container col-sm-4">
                <button type="button" class="btn btn-primary border-white bg-transparent" data-toggle="modal" data-target="#exampleModal" @click="loadModal(partner)"><img :src="partner.partnerImageLocation" alt="partner.partnerName"></button>

                <!-- Modal Popup -->
                <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Modal Title</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>

                            <div class="modal-body bg-dark">

                                <div class="form-row">
                                    Update Partners Logo:
                                    <input id="partnerimage" type="file" ref="fileInput" @change="handlePartnerImageUpdate" accept="image/*">
                                </div>
                                <div class="row-cols-3"><img :src="page.selectedPartner.partnerImageLocation" alt="partner.partnerName" class="bg-dark"></div>
                                <div class="row-cols-3">
                                    <label for="partnername">Partner Name:</label>
                                    <input type="text" v-model="page.selectedPartner.partnerName" required />
                                </div>
                                <div class="row-cols-3">
                                    <label for="partnerdescription">Partner's Description:</label>
                                    <textarea type="text" name="partnerdescription" v-model="page.selectedPartner.partnerDescription" placeholder="Partner's Description" required></textarea>
                                </div>
                                <div class="row-cols-3">
                                    Partner Website: <input type="text" v-model="page.selectedPartner.partnerWebsite" required />
                                </div>
                                <div class="row-cols-3">
                                    Partner Phone: <input type="text" v-model="page.selectedPartner.partnerPhone" />
                                </div>
                                <div class="row-cols-3">
                                    Partner Email: <input type="text" v-model="page.selectedPartner.partnerEmail" />
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-success" data-dismiss="modal" @click="updatePartnerInfo(page.selectedPartner.partnerId)">Update</button>
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>



            <!-- Modal -->

        </div>
    </div>

    <div>
        Edit Company's Profile:
        <div class="form-row mb-2">
            <div class="col-sm-2">
                <label for="companyname">Company's Name:</label>
            </div>
            <input id="companyname" type="text" name="CompanyName" v-model="page.companyProfile.companyName" placeholder="Company's Name" required>
        </div>
        <div class="form-row mb-2">
            <div class="col-sm-2">
                <label for="companymail">Company's Email:</label>
            </div>
            <input id="companyemail" type="email" name="CompanyMail" v-model="page.companyProfile.companyMail" placeholder="Company's Email">
        </div>
        <div class="form-row mb-2">
            <div class="col-sm-2">
                <label for="companyphone">Company's Phone:</label>
            </div>
            <input id="companyphone" type="text" name="CompanyPhone" v-model="page.companyProfile.companyPhone" placeholder="Company's Phone">
        </div>
        <div class="form-row mb-2">
            <div class="col-sm-2">
                <label for="companyaddress">Company's Address:</label>
            </div>
            <input id="companyaddress" type="text" name="CompanyAddress" v-model="page.companyProfile.companyAddress" placeholder="Company's Address">
        </div>
        <div class="form-row mb-2">
            <div class="col-sm-2">
                <label for="companywebsite">Company's Tagline:</label>
            </div>
            <input id="companytagline" type="text" name="CompanyTagline" v-model="page.companyProfile.companyTagline" placeholder="Company's Tagline">
        </div>
        <button @click="updateCompanyProfile">Save Info</button>
    </div>
</div>