<div class="container align-content-center">
    <button @click="goToHome">Go to Home</button>
    <ul>
        <li v-for="(item, index) in page.imageList" :key="index">
            {{ item.imageName }}
        </li>
    </ul>
    <div>
        Change Logo:
        <div>
            <input type="file" ref="fileInput" @change="handleFileUpload" accept="image/*">
            <button @click="uploadLogo">Upload Image</button>
        </div>
    </div>
    <div style="background-color:darkgoldenrod">
        Upload Background Cover:
        <div>
            <input type="file" ref="fileInput" @change="handleFileUpload" accept="image/*">
            <button @click="uploadBackgroundImage">Upload Image</button>
        </div>
        Select Background Cover:
        <div v-for="(image, index) in page.imageList" :key="index">
            <img :src="image.imageLocation" alt="Gallery Image" style="width: 200px; height: 200px; object-fit: cover; margin: 5px;">
            <button @click="deleteBackgroundImage(index)">Delete Image</button>
            <button @click="handleSelect(index)">Select Background</button>
        </div>

    </div>
    <!--<div>
        New Partners Profile Entry:
        <div>
            Upload Partners Logo:
            <input type="file" ref="fileInput" @change="handleFileUpload" accept="image/*">
            <button @click="uploadPartnerLogo">Upload Image</button>
        </div>
    </div>-->
</div>