@{
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
    ViewData["Title"] = "City Films";
}
<div id="app">
    <div>
        <registration-component :page="page"></registration-component>
    </div>
</div>
@section Scripts {
    <script>
        $(document).ready(function () {
            Vue.component('registration-component', function (resolve, reject) {
                $.get(htmlAuthUrl.login).then(function (res) {
                    resolve({
                        template: res, props: ['page']
                    })
                });
            });
            vApp = new Vue({
                el: '#app',
                data: {
                    page: new authModel(),
                },
                methods: {
                    registerUser() {
                        var request = postRequest(apiAuthUrl.registerUser, this.page)
                    },
                }
            })
        });

        function register() {
            var request = postRequest(apiAuthUrl.registerUser, vApp.page.register);
            request.done(function (response) {
                vApp.page.register = new registerModel();

            })
        }
        function login() {
            var request = postRequest(apiAuthUrl.login, vApp.page.login);
            request.done(function (response) {
                console.log("hello");
            })
        }

    </script>
}
