@{
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
    ViewData["Title"] = "City Films";
}
<div id="app">
    <div>
        <registration-component :page="page"></registration-component>
    </div>
</div>
@section Scripts {
    <script>
        $(document).ready(function () {
            Vue.component('registration-component', function (resolve, reject) {
                $.get(htmlAuthUrl.login).then(function (res) {
                    resolve({
                        template: res, props: ['page']
                    })
                });
            });
            vApp = new Vue({
                el: '#app',
                data: {
                    page: new authModel(),
                },
                methods: {
                    registerUser() {
                        var request = postRequest(apiAuthUrl.registerUser, this.page)
                    },
                }
            })
        });

        function register() {
            if (isEmptyOrSpaces(vApp.page.login.userName) || isEmptyOrSpaces(vApp.page.login.userName) || isEmptyOrSpaces(vApp.page.login.password)) {
                alert("Fill all the required fields!")
                return
            }
            var request = postRequest(apiAuthUrl.registerUser, vApp.page.register);
            request.done(function (response) {
                vApp.page.register = new registerModel();

            })
        }
        function login() {
            if(isEmptyOrSpaces(vApp.page.login.userName) || isEmptyOrSpaces(vApp.page.login.password)){
                alert("Fill all the required fields!")
                return
            }
            var request = postRequest(apiAuthUrl.login, vApp.page.login);
            request.done(function (response) {
                if (response.data === false) {
                    alert("Invalid Username or Password");
                    return;
                }
                var tokenCooki = "pgwToken=Bearer " + response.data.jwtToken + "; expires=" + response.data.tokenExpiry + "; path=/;";
                document.cookie = tokenCooki;
                window.location = "/#admin/dashboard";
            })
        }
        function logout(){
            var request = getRequest(apiAuthUrl.logout);
            request.done(function(response){
                alert("logged out! dang")
            })
        }

    </script>
}
