<div>
    <div class="container pt-2 pb-2">
        <div>
            <div class="form-row mb-2">
                <div class="col-sm-1">
                    <label for="username">Username:</label>
                </div>
                <input id="username" type="text" name="username" v-model="page.login.userName" placeholder="Username" required>
            </div>
            <div class="form-row mb-2">
                <div class="col-sm-1">
                    <label for="password">Password:</label>
                </div>
                <input id="password" type="password" name="password" v-model="page.login.password" placeholder="Password" required>
            </div>
        </div>
        <button class="btn btn-success" onclick="login()">Login</button>
    </div>

    <div class="container mt-3 pt-2 pb-2">
        <div>
            <div class="form-row mb-2">
                <div class="col-sm-1">
                    <label for="username">Username:</label>
                </div>
                <input id="regusername" type="text" name="username" v-model="page.register.userName" placeholder="Username" required>
            </div>
            <div class="form-row mb-2">
                <div class="col-sm-1">
                    <label for="email">Email:</label>
                </div>
                <input id="regemail" type="email" name="email" v-model="page.register.email" placeholder="Email" required>
            </div>
            <div class="form-row mb-2">
                <div class="col-sm-1">
                    <label for="password">Password:</label>
                </div>
                <input id="regpassword" type="password" name="password" v-model="page.register.password" placeholder="Password" required>
            </div>
        </div>
        <button class="btn btn-primary" onclick="register()">Register</button>
    </div>
</div>