<div class="image-container font-family-monospace embed-responsive" style="overflow-y: visible;">
    <template>
        <v-container class="vcard-container d-flex justify-center align-center">
            <v-card class="mx-auto my-auto"
                    style=" padding: 10px 20px 30px; text-align: center; width: 400px; "
                    color="#25283D"
                    dark
                    elevation="20">
                <v-layout align-center>
                    <v-card-text class="pb-0">
                        <v-form @submit.prevent="registerUser">
                            <v-col cols="12" style="justify-content: center; align-items: center; margin-top: 10px; margin-bottom: 10px; margin-left: 0px; margin-right: 0px;">
                                <div style="height:auto; width:100%">
                                    <v-img class="mx-auto" src="../images/user.png" style="height: auto; width: 50%;"></v-img>
                                </div>
                            </v-col>

                            <v-col cols="12">
                                <v-text-field v-model="page.email"
                                              :append-icon="'mdi-email'"
                                              :counter="10"
                                              label="Email"
                                              style="justify-content: center; display: flex; align-items: center; margin-top: 0px; margin-bottom: 0px;"
                                              required></v-text-field>
                            </v-col>

                            <v-col cols="12">
                                <v-text-field v-model="page.userName"
                                              :append-icon="'mdi-account'"
                                              :counter="10"
                                              label="Username"
                                              style="justify-content: center; display: flex; align-items: center; margin-top: 0px; margin-bottom: 0px;"
                                              required></v-text-field>
                            </v-col>

                            <v-col cols="12">
                                <v-text-field v-model="page.password"
                                              :type="page.show ? 'text' : 'password'"
                                              name="input-10-1"
                                              label="Password"
                                              hint="At least 8 characters"
                                              counter
                                              style="justify-content: center; display: flex; align-items: center; margin-top: 0px; margin-bottom: 0px;"></v-text-field>

                                <!--<p v-if="!page.register" class="text-left" style="color: hsla(0,0%,100%,.7);">Don't have an account? <a v-on:click="" style="color:cornflowerblue; cursor:pointer" @click="page.register = true">Register here</a></p>
                                <p v-if="page.register" class="text-left" style="color: hsla(0,0%,100%,.7);">Already have an account? <a v-on:click="" style="color:cornflowerblue; cursor:pointer" @click="page.register = false">Sign In</a></p>-->
                            </v-col>
                            <v-col cols="12"
                                   align="center"
                                   justify="space-around"
                                   v-if="page.register">
                                <v-btn style="display: flex; max-height: 100vh; max-width: 100vh; margin-top: 0px; margin-bottom: 0px; "
                                       depressed
                                       v-on:click="registerUser"
                                       color="#6FD08C">
                                    Sign Up
                                </v-btn>
                            </v-col>

                            <!--<v-col cols="12"
                                   align="center"
                                   justify="space-around"
                                   v-if="!page.register">
                                <v-btn id="loginButton"
                                       class="move-button btn-primary"
                                       :style="{transform : page.buttonTransform}"
                                       type="submit"
                                       @mouseover="mouseoverCheckPassword"
                                       color="#6FD08C">
                                    Log In
                                </v-btn>
                            </v-col>-->
                        </v-form>
                    </v-card-text>
                </v-layout>
            </v-card>
        </v-container>

    </template>
</div>